@inject IOptions<SiteInfoDto> _siteInfoOptions
@inject ICartService _cartService
@inject IUnitOfWork _unitOfWork
@{
}

<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="utf-8">
    <title>@_siteInfoOptions.Value.Title</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="@_siteInfoOptions.Value.Description">
    <meta name="keywords" content="@_siteInfoOptions.Value.Keywords">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="~/css/simplebar.css" />
    <link rel="stylesheet" media="screen" href="~/css/tiny-slider.css" />
    <link rel="stylesheet" media="screen" href="~/css/drift-basic.css" />
    <link rel="stylesheet" media="screen" href="~/css/no-ui-slider.css" />
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="~/css/theme.css">
    @RenderSection("Styles", required: false)
</head>
<!-- Body-->

<body class="handheld-toolbar-enabled">
    <main class="page-wrapper">
        <!-- Quick View Modal-->
        <div class="modal-quick-view modal fade" id="quick-view" tabindex="-1">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                </div>
            </div>
        </div>
        <!-- Navbar 3 Level (Light)-->
        <partial name="_HeaderPartial" model="@new HeaderViewModel { CartItems = _cartService.GetCartItems(), Categories = _unitOfWork.Categories.Find().AsEnumerable() }" />
        @RenderBody()
    </main>
    <!-- Footer-->
    <partial name="_FooterPartial" />
    <div class="modal fade" id="form-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <!-- Toolbar for handheld devices (Default)-->
    <div class="handheld-toolbar">
        <div class="d-table table-layout-fixed w-100">
            <a class="d-table-cell handheld-toolbar-item" href="account-wishlist.html">
                <span class="handheld-toolbar-icon"><i class="ci-heart"></i></span>
                <span class="handheld-toolbar-label">Wishlist</span>
            </a>
            <a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)">
                <span class="handheld-toolbar-icon"><i class="ci-menu"></i></span>
                <span class="handheld-toolbar-label">Menu</span>
            </a>
            <a class="d-table-cell handheld-toolbar-item" href="shop-cart.html">
                <span class="handheld-toolbar-icon">
                    <i class="ci-cart"></i>
                    <span class="badge bg-primary rounded-pill ms-1">4</span>
                </span>
                <span class="handheld-toolbar-label">$265.00</span>
            </a>
        </div>
    </div>
    <!-- Back To Top Button-->
    <a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">بالا</span><i class="btn-scroll-top-icon ci-arrow-up"></i></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/simplebar.js"></script>
    <script src="~/js/tiny-slider.js"></script>
    <script src="~/js/smooth-scroll.js"></script>
    <script src="~/js/drift-basic.js"></script>
    <script src="~/js/no-ui-slider.js"></script>
    <!-- Main theme script-->
    <script src="~/js/theme.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>
    <script src="~/js/vue.js"></script>
    <script>
        Vue.filter('format_number', function (value) {
            return parseInt(value).toLocaleString()
        })
    </script>
    <script src="~/js/site-scripts/cart-vue/sidebar-cart.js"></script>

    <!-- Sign in / sign up modal-->
    <partial name="_AccountPartial" model="@new AccountViewModel()" />
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>