@model ProductDetailsViewModel
@{
    Layout = null;
}
<div class="modal-header bg-secondary py-1">
    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
    <p class="fw-bold my-2">@Model.Product.Name</p>
</div>

<div class="modal-body tab-content py-4">
    <div class="row">
        <!-- Product gallery-->
        @if (!Model.Product.Images.IsNullOrEmpty())
        {
            <div class="col-lg-7 pe-lg-0 pt-lg-4">
                <div class="product-gallery">
                    <div class="product-gallery-thumblist">
                        @{
                            int i = 0;
                        }
                        @foreach (var image in Model.Product.Images.AsEnumerable())
                        {
                            <a class="product-gallery-thumblist-item @(i == 0 ? "active" : "")" href="#image-@i">
                                <img src="@Url.Content(image.ImageLargeFullPath)" alt="image-@(i++)">
                            </a>
                        }
                        @*                                <a class="product-gallery-thumblist-item video-item" href="https://www.youtube.com/watch?v=1vrXpMLLK14" data-lg-id="9b5122dd-19b7-4d21-a641-aa8d0df93498">
                    <div class="product-gallery-thumblist-item-text">
                    <i class="ci-video"></i>Video
                    </div>
                    </a>
                    *@
                    </div>
                    <div class="product-gallery-preview">
                        @{
                            i = 0;
                        }
                        @foreach (var image in Model.Product.Images.AsEnumerable())
                        {
                            <div class="product-gallery-preview-item @(i == 0 ? "active" : "")" id="image-@i">
                                <img class="image-zoom" src="@Url.Content(image.ImageLargeFullPath)" data-zoom="@Url.Content(image.ImageLargeFullPath)" alt="image-@(i++)">
                                <div class="image-zoom-pane"></div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        <!-- Product details-->
        <div class="col-lg-5 pt-4 pt-lg-0">
            <div class="product-details ms-auto pb-3">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    @if (!Model.Product.Reviews.IsNullOrEmpty())
                    {
                        <a href="#reviews" data-scroll="">
                            <div class="star-rating">
                                <i class="star-rating-icon ci-star-filled active"></i>
                                <i class="star-rating-icon ci-star-filled active"></i>
                                <i class="star-rating-icon ci-star-filled active"></i>
                                <i class="star-rating-icon ci-star-filled active"></i>
                                <i class="star-rating-icon ci-star"></i>
                            </div>
                            <span class="d-inline-block fs-sm text-body align-middle mt-1 ms-1">@Model.Product.Reviews.Count() نظر</span>
                        </a>
                    }
                    <button class="btn-wishlist me-0 me-lg-n3" type="button" data-bs-toggle="tooltip" aria-label="افزودن به علاقه مندی ها" data-bs-original-title="افزودن به علاقه مندی ها"><i class="ci-heart"></i></button>
                </div>
                <div class="mb-3">
                    <span class="h3 fw-normal text-accent me-1">@Model.Product.PriceAfterDiscount.ToString("n0")<small> تومان</small></span>
                    @if (Model.Product.DiscountPercent > 0)
                    {
                        <del class="text-muted me-3">@Model.Product.Price.ToString("n0") تومان</del>
                    }
                </div>
                <div class="fs-sm mb-4">
                    <span class="text-heading fw-medium me-1">Color:</span><span class="text-muted" id="colorOption">Red/Dark blue/White</span>
                </div>
                <div class="position-relative me-n4 mb-3">
                    <div class="form-check form-option form-check-inline mb-2">
                        <input class="form-check-input" type="radio" name="color" id="color1" data-bs-label="colorOption" value="Red/Dark blue/White" checked="">
                        <label class="form-option-label rounded-circle" for="color1"><span class="form-option-color rounded-circle" style="background-image: url(img/shop/single/color-opt-1.png)"></span></label>
                    </div>
                    <div class="form-check form-option form-check-inline mb-2">
                        <input class="form-check-input" type="radio" name="color" id="color2" data-bs-label="colorOption" value="Beige/White/Dark grey">
                        <label class="form-option-label rounded-circle" for="color2"><span class="form-option-color rounded-circle" style="background-image: url(img/shop/single/color-opt-2.png)"></span></label>
                    </div>
                    <div class="form-check form-option form-check-inline mb-2">
                        <input class="form-check-input" type="radio" name="color" id="color3" data-bs-label="colorOption" value="Dark grey/White/Orange">
                        <label class="form-option-label rounded-circle" for="color3"><span class="form-option-color rounded-circle" style="background-image: url(img/shop/single/color-opt-3.png)"></span></label>
                    </div>
                    <div class="product-badge product-available mt-n1"><i class="ci-security-check"></i>موجود است</div>
                </div>
                <form class="mb-grid-gutter" method="post">
                    <div class="mb-3">
                        <div class="d-flex justify-content-between align-items-center pb-1">
                            <label class="form-label" for="product-size">Size:</label><a class="nav-link-style fs-sm" href="#size-chart" data-bs-toggle="modal"><i class="ci-ruler lead align-middle me-1 mt-n1"></i>Size guide</a>
                        </div>
                        <select class="form-select" required="" id="product-size">
                            <option value="">Select size</option>
                            <option value="xs">XS</option>
                            <option value="s">S</option>
                            <option value="m">M</option>
                            <option value="l">L</option>
                            <option value="xl">XL</option>
                        </select>
                    </div>
                    <div class="mb-3 d-flex align-items-center">
                        <select class="form-select me-3" style="width: 5rem;">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <button class="btn btn-primary btn-shadow d-block w-100" type="submit">
                            افزودن به سبد <i class="ci-cart fs-sm ms-2"></i>
                        </button>
                    </div>
                </form>
                <!-- Product panels-->
                <div class="accordion mb-4" id="productPanels">
                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <a class="accordion-button" href="#productInfo" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="productInfo">
                                <i class="ci-announcement lead me-2 text-muted"></i>اطلاعات محصول
                            </a>
                        </h3>
                        <div class="accordion-collapse collapse show" id="productInfo" data-bs-parent="#productPanels">
                            <div class="accordion-body">
                                <ul class="list-unstyled fs-sm">
                                    @foreach (var line in Model.Product.OptionalComment.Split(Environment.NewLine, StringSplitOptions.RemoveEmptyEntries))
                                    {
                                        <li class="d-flex align-items-center mb-2">
                                            <i class="ci-check text-success me-2"></i>
                                            <span>@line</span>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <a class="accordion-button collapsed" href="#shippingOptions" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="shippingOptions">
                                <i class="ci-delivery lead me-2 mt-1 text-muted"></i>روش های ارسال
                            </a>
                        </h3>
                        <div class="accordion-collapse collapse" id="shippingOptions" data-bs-parent="#productPanels">
                            <div class="accordion-body fs-sm">
                                @{
                                    var borderTopClassForAllExceptFirst = "";
                                }
                                @foreach (var shippingType in Model.ShippingTypes)
                                {
                                    <div class="d-flex justify-content-between @borderTopClassForAllExceptFirst mb-2">
                                        <div>
                                            <div class="fw-semibold text-dark">@shippingType.Title</div>
                                            <div class="fs-sm text-muted">@shippingType.DeliveryRange</div>
                                        </div>
                                        <div>@shippingType.Cost.ToString("n0")</div>
                                    </div>

                                    borderTopClassForAllExceptFirst = "border-top pt-2";
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
