@model IEnumerable<Faq>

@foreach (var item in Model)
{
    <tr>
        <td>@item.DisplayOrder</td>
        <td>
            <p>@item.QuestionText</p>
            <p>@item.AnswerText</p>
        </td>
        <td class="py-2">
            <div class="col-auto btn-group btn-group-sm w-100">
                <a class="btn btn-outline-primary" onclick="showInPopup('@Url.Action("CreateOrUpdate", "Faq", new { id = item.FaqId }, Context.Request.Scheme)', 'ویرایش سوال', true)">مشاهده</a>
                <button class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="visually-hidden">Toggle dropdown</span></button>
                <div class="dropdown-menu my-1">
                    <a class="dropdown-item text-danger delete" data-id="@item.FaqId" data-title="این سوال" style="cursor:pointer">حذف</a>
                </div>
            </div>
        </td>
    </tr>
}
