@inject IOptions<SiteInfoDto> _siteInfoOptions
@{
    var controllerName = Context.Request.RouteValues["controller"].ToString();
    var activeClassName = "";
}

<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="utf-8">
    <title>@_siteInfoOptions.Value.Title</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="@_siteInfoOptions.Value.Description">
    <meta name="keywords" content="@_siteInfoOptions.Value.Keywords">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="~/css/simplebar.css" />
    <link rel="stylesheet" media="screen" href="~/css/tiny-slider.css" />
    <link rel="stylesheet" media="screen" href="~/css/drift-basic.css" />
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="~/css/theme.css">
    @RenderSection("Styles", required: false)
</head>
<!-- Body-->

<body class="handheld-toolbar-enabled">
    <main class="page-wrapper">
        <header class="bg-light shadow-sm navbar-sticky">
            <div class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand d-none d-sm-block flex-shrink-0" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/resources/img/site/logo-dark.png" width="142" alt="Cartzilla">
                    </a>
                    <a class="navbar-brand d-sm-none flex-shrink-0 me-2" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="img/logo-icon.png" width="74" alt="Cartzilla">
                    </a>
                    <!-- Toolbar-->
                    <div class="navbar-toolbar d-flex align-items-center order-lg-3">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button><a class="navbar-tool d-none d-lg-flex" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#searchBox" role="button" aria-expanded="false" aria-controls="searchBox">
                            <span class="navbar-tool-tooltip">Search</span>
                            <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-search"></i></div>
                        </a>
                        <div class="navbar-tool dropdown ms-2">
                            <a class="navbar-tool-icon-box border dropdown-toggle" href="#"><img src="~/resources/img/user/avatar/no-image.png" width="32" alt="admin avatar"></a><a class="navbar-tool-text ms-n1" href="#">منو</a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <div style="min-width: 14rem;">
                                    <h6 class="dropdown-header">آمار</h6>
                                    @{ if (controllerName == "Order") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                    <a class="dropdown-item d-flex align-items-center @activeClassName" asp-area="Admin" asp-controller="Order" asp-action="Index"><i class="ci-bag opacity-60 me-2"></i>سفارشات</a>
                                    
                                    @{ if (controllerName == "Message") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                    <a class="dropdown-item d-flex align-items-center @activeClassName" asp-area="Admin" asp-controller="Message" asp-action="Index"><i class="ci-message opacity-60 me-2"></i>پیام ها</a>
                                    
                                    @{ if (controllerName == "ProductReview") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                    <a class="dropdown-item d-flex align-items-center @activeClassName" asp-area="Admin" asp-controller="ProductReview" asp-action="Index"><i class="ci-announcement opacity-60 me-2"></i>بررسی محصولات</a>
                                    
                                    @{ if (controllerName == "User") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                    <a class="dropdown-item d-flex align-items-center @activeClassName" asp-area="Admin" asp-controller="User" asp-action="Index"><i class="ci-user opacity-60 me-2"></i>کاربران</a>
                                    <div class="dropdown-divider"></div>
                                    <h6 class="dropdown-header">داده ها</h6>
                                    @{ if (controllerName == "Product") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                    <a class="dropdown-item d-flex align-items-center @activeClassName" asp-area="Admin" asp-controller="Product" asp-action="Index"><i class="ci-package opacity-60 me-2"></i>محصولات</a>
                                    @{ if (controllerName == "Brand") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                    <a class="dropdown-item d-flex align-items-center @activeClassName" asp-area="Admin" asp-controller="Brand" asp-action="Index"><i class="ci-bookmark opacity-60 me-2"></i>برندها</a>
                                    @{ if (controllerName == "Category") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                    <a class="dropdown-item d-flex align-items-center @activeClassName" asp-area="Admin" asp-controller="Category" asp-action="Index"><i class="ci-bookmark opacity-60 me-2"></i>دسته بندی ها</a>
                                    @{ if (controllerName == "Banner") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                    <a class="dropdown-item d-flex align-items-center @activeClassName" asp-area="Admin" asp-controller="Banner" asp-action="Index"><i class="ci-image opacity-60 me-2"></i>تصاویر</a>
                                    @{ if (controllerName == "District") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                    <a class="dropdown-item d-flex align-items-center @activeClassName" asp-area="Admin" asp-controller="District" asp-action="Index"><i class="ci-location opacity-60 me-2"></i>مناطق</a>
                                    @{ if (controllerName == "ShippingType") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                    <a class="dropdown-item d-flex align-items-center @activeClassName" asp-area="Admin" asp-controller="ShippingType" asp-action="Index"><i class="ci-delivery opacity-60 me-2"></i>روش های ارسال</a>
                                    @{ if (controllerName == "Faq") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                    <a class="dropdown-item d-flex align-items-center @activeClassName" asp-area="Admin" asp-controller="Faq" asp-action="Index"><i class="ci-help opacity-60 me-2"></i>سوالات متداول</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item d-flex align-items-center text-danger" asp-area="Identity" asp-controller="Account" asp-action="Logout"><i class="ci-arrow-right opacity-60 me-2"></i>خروج</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse me-auto order-lg-2" id="navbarCollapse">
                        <!-- Search-->
                        <div class="input-group d-lg-none my-3">
                            <i class="ci-search position-absolute top-50 start-0 translate-middle-y text-muted fs-base ms-3"></i>
                            <input class="form-control rounded-start" type="text" placeholder="Search marketplace">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Search collapse-->
            <div class="search-box collapse" id="searchBox">
                <div class="card pt-2 pb-4 border-0 rounded-0">
                    <div class="container">
                        <div class="input-group">
                            <i class="ci-search position-absolute top-50 start-0 translate-middle-y text-muted fs-base ms-3"></i>
                            <input class="form-control rounded-start" type="text" placeholder="Search marketplace">
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="page-title-overlap bg-accent pt-4">
        </div>
        <div class="container mb-5 pb-3">
            <div class="bg-light shadow-lg rounded-3 overflow-hidden">
                <div class="row">
                    <!-- Sidebar-->
                    <aside class="col-lg-4 pe-xl-5">
                        <!-- Account menu toggler (hidden on screens larger 992px)-->
                        <div class="d-block d-lg-none p-4"><a class="btn btn-outline-accent d-block" href="#account-menu" data-bs-toggle="collapse"><i class="ci-menu me-2"></i>Account menu</a></div>
                        <!-- Actual menu-->
                        <div class="h-100 border-end mb-2">
                            <div class="d-lg-block collapse" id="account-menu">
                                <div class="bg-secondary p-4">
                                    <h3 class="fs-sm mb-0 text-muted">آمار</h3>
                                </div>
                                <ul class="list-unstyled mb-0">
                                    @{ if (controllerName == "Order") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                    <li class="border-bottom mb-0 @activeClassName">
                                        <a class="nav-link-style d-flex align-items-center px-4 py-3 fs-sm" asp-area="Admin" asp-controller="Order" asp-action="Index">
                                            <i class="ci-bag opacity-75 fs-6 me-2"></i>سفارشات
                                        </a>
                                    </li>
                                    @{ if (controllerName == "Message") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                    <li class="border-bottom mb-0 @activeClassName">
                                        <a class="nav-link-style d-flex align-items-center px-4 py-3 fs-sm" asp-area="Admin" asp-controller="Message" asp-action="Index">
                                            <i class="ci-message opacity-75 fs-6 me-2"></i>پیام ها
                                        </a>
                                    </li>
                                    @{ if (controllerName == "ProductReview") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                    <li class="border-bottom mb-0 @activeClassName">
                                        <a class="nav-link-style d-flex align-items-center px-4 py-3 fs-sm" asp-area="Admin" asp-controller="ProductReview" asp-action="Index">
                                            <i class="ci-announcement opacity-75 fs-6 me-2"></i>بررسی محصولات
                                        </a>
                                    </li>
                                    @{ if (controllerName == "User") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                    <li class="border-bottom mb-0 @activeClassName">
                                        <a class="nav-link-style d-flex align-items-center px-4 py-3 fs-sm" asp-area="Admin" asp-controller="User" asp-action="Index">
                                            <i class="ci-user opacity-75 fs-6 me-2"></i>کاربران
                                        </a>
                                    </li>
                                </ul>
                                <div class="bg-secondary p-4">
                                    <h3 class="fs-sm mb-0 text-muted">داده ها</h3>
                                </div>
                                <ul class="list-unstyled mb-0">
                                    @{ if (controllerName == "Product") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                    <li class="border-bottom mb-0 @activeClassName">
                                        <a class="nav-link-style d-flex align-items-center px-4 py-3 fs-sm" asp-area="Admin" asp-controller="Product" asp-action="Index">
                                            <i class="ci-package opacity-75 fs-6 me-2"></i>محصولات
                                        </a>
                                    </li>

                                    @{ if (controllerName == "Brand") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                    <li class="border-bottom mb-0 @activeClassName">
                                        <a class="nav-link-style d-flex align-items-center px-4 py-3 fs-sm" asp-area="Admin" asp-controller="Brand" asp-action="Index">
                                            <i class="ci-bookmark opacity-75 fs-6 me-2"></i>برندها
                                        </a>
                                    </li>

                                    @{ if (controllerName == "Category") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                    <li class="border-bottom mb-0 @activeClassName">
                                        <a class="nav-link-style d-flex align-items-center px-4 py-3 fs-sm" asp-area="Admin" asp-controller="Category" asp-action="Index">
                                            <i class="ci-bookmark opacity-75 fs-6 me-2"></i>دسته بندی ها
                                        </a>
                                    </li>

                                    @{ if (controllerName == "Banner") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                    <li class="border-bottom mb-0 @activeClassName">
                                        <a class="nav-link-style d-flex align-items-center px-4 py-3 fs-sm" asp-area="Admin" asp-controller="Banner" asp-action="Index">
                                            <i class="ci-image opacity-75 fs-6 me-2"></i>تصاویر
                                        </a>
                                    </li>

                                    @{ if (controllerName == "District") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                    <li class="border-bottom mb-0 @activeClassName">
                                        <a class="nav-link-style d-flex align-items-center px-4 py-3 fs-sm" asp-area="Admin" asp-controller="District" asp-action="Index">
                                            <i class="ci-location opacity-75 fs-6 me-2"></i>مناطق
                                        </a>
                                    </li>

                                    @{ if (controllerName == "ShippingType") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                    <li class="border-bottom mb-0 @activeClassName">
                                        <a class="nav-link-style d-flex align-items-center px-4 py-3 fs-sm" asp-area="Admin" asp-controller="ShippingType" asp-action="Index">
                                            <i class="ci-delivery opacity-75 fs-6 me-2 mt-1"></i>روش های ارسال
                                        </a>
                                    </li>

                                    @{ if (controllerName == "Faq") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                    <li class="border-bottom mb-0 @activeClassName">
                                        <a class="nav-link-style d-flex align-items-center px-4 py-3 fs-sm" asp-area="Admin" asp-controller="Faq" asp-action="Index">
                                            <i class="ci-help opacity-75 fs-6 me-2 mt-1"></i>سوالات متداول
                                        </a>
                                    </li>

                                    <li class="mb-0">
                                        <a class="nav-link-style d-flex align-items-center px-4 py-3 fs-sm text-danger" asp-area="Identity" asp-controller="Account" asp-action="Logout">
                                            <i class="ci-arrow-right opacity-75 fs-6 me-2"></i>خروج از حساب کاربری
                                        </a>
                                    </li>
                                </ul>
                                <hr>
                            </div>
                        </div>
                    </aside>
                    <!-- Content-->
                    <section class="col-lg-8 pt-lg-4 pb-4 mb-3">
                        <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
                            @RenderBody()
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer bg-darker">
        <div class="container">
            <div class="d-md-flex justify-content-between pb-2 pt-3">
                <div class="fs-xs text-light opacity-50 text-center text-md-start">© All rights reserved. Made by <a class="text-light" href="https://createx.studio/" target="_blank" rel="noopener">Createx Studio</a></div>
                <div class="widget widget-links widget-light">
                    <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                        <li class="widget-list-item ms-4"><a class="widget-list-link fs-ms" href="#">Help Center</a></li>
                        <li class="widget-list-item ms-4"><a class="widget-list-link fs-ms" href="#">Affiliates</a></li>
                        <li class="widget-list-item ms-4"><a class="widget-list-link fs-ms" href="#">Support</a></li>
                        <li class="widget-list-item ms-4"><a class="widget-list-link fs-ms" href="#">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="form-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <!-- Vendor scrits: js libraries and plugins-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/smooth-scroll.js"></script>
    <!-- Main theme script-->
    <script src="~/js/theme.js"></script>
    <script src="~/js/site-scripts/delete.js"></script>
    <script src="~/js/site-scripts/create-update.js"></script>
    <script>
        $(document).ready(function () {
            $(".modal").on('shown.bs.modal', function () {
                $(this).find("[autofocus]:first").focus();
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>