@model ProductListViewModel

<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href="index.html"><i class="ci-home"></i>خانه</a></li>
                    <li class="breadcrumb-item text-nowrap">
                        <a href="#">محصولات</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">لیست محصولات</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">لیست محصولات</h1>
        </div>
    </div>
</div>

<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <aside class="col-lg-4">
            <div class="offcanvas offcanvas-collapse bg-white w-100 rounded-3 shadow-lg py-1" id="shop-sidebar" style="max-width: 22rem">
                <div class="offcanvas-header align-items-center shadow-sm">
                    <h2 class="h5 mb-0">Filters</h2>
                    <button class="btn-close ms-auto" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body py-grid-gutter px-lg-grid-gutter">
                    <!--Categories-->
                    <div class="widget widget-categories mb-4 pb-4 border-bottom">
                        <h3 class="widget-title">دسته بندی ها</h3>
                        <div class="accordion mt-n1" id="shop-categories">
                            @foreach (var parentCategory in Model.SearchViewModel.Categories.Where(c => c.ParentCategoryId is null))
                            {
                                <div class="accordion-item">
                                    <h3 class="accordion-header">
                                        <a class="accordion-button collapsed" href="#parent-cat-@parentCategory.CategoryId" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="parent-cat-@parentCategory.CategoryId">@parentCategory.Title</a>
                                    </h3>
                                    <div class="accordion-collapse collapse" id="parent-cat-@parentCategory.CategoryId" data-bs-parent="#shop-categories" style="">
                                        <div class="accordion-body">
                                            <div class="widget widget-links">
                                                <ul class="widget-list  pt-1" style="height: 12rem;" data-simplebar="init" data-simplebar-auto-hide="false">
                                                    @foreach (var category in Model.SearchViewModel.Categories.Where(c => c.ParentCategoryId == parentCategory.CategoryId))
                                                    {
                                                        <li class="widget-list-item ">
                                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                                <span class="-text">@category.Title</span>
                                                                <span class="fs-xs text-muted ms-3">@Model.Products.Count(p => p.CategoryId == category.CategoryId)</span>
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <!-- Brands -->
                    <div class="widget border-bottom mb-4 pb-4">
                        <h3 class="widget-title">برند ها</h3>
                        <ul class="widget-list list-unstyled pt-1" style="max-height: 11rem;" data-simplebar="init" data-simplebar-auto-hide="false">
                            @foreach (var brand in Model.SearchViewModel.Brands)
                            {
                                <li class=" d-flex justify-content-between align-items-center mb-1">
                                    <div class="form-check">
                                        <input asp-for="@brand.IsSelected" class="form-check-input" />
                                        <label asp-for="@brand.IsSelected" class="form-check-label">@brand.Brand.Title</label>
                                    </div>
                                    <span class="fs-xs text-muted">@Model.Products.Count(p => p.BrandId == brand.Brand.BrandId)</span>
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- Price Range-->
                    <div class="widget">
                        <h3 class="widget-title">بازه قیمت</h3>
                        <div class="range-slider" data-start-min="250" data-start-max="680" data-min="0" data-max="1000" data-step="1">
                            <div class="range-slider-ui"></div>
                            <div class="d-flex">
                                <div class="w-50 pe-2 me-2">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-text">$</span>
                                        <input class="form-control range-slider-value-min" type="text">
                                    </div>
                                </div>
                                <div class="w-50 ps-2">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-text">$</span>
                                        <input class="form-control range-slider-value-max" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </aside>

        <section class="col-lg-8">
            <!-- Toolbar-->
            <div class="d-flex justify-content-center justify-content-sm-between align-items-center pt-2 pb-4 pb-sm-5">
                <div class="d-flex flex-wrap">
                    <div class="d-flex align-items-center flex-nowrap me-3 me-sm-4 pb-3">
                        <label class="text-light opacity-75 text-nowrap fs-sm me-2 d-none d-sm-block" for="sorting">اولویت نمایش با </label>
                        <select asp-for="SearchViewModel.SortOrder" class="form-control form-control-sm" asp-items="@typeof(SortOrders).ToCollection().ToSelectListItem(nameof(EnumDto.Value), nameof(EnumDto.Description), (int)Model.SearchViewModel.SortOrder)" autofocus>
                        </select>
                        <span class="fs-sm text-light opacity-75 text-nowrap ms-2 d-none d-md-block">در میان 890 محصول</span>
                    </div>
                </div>
                <div class="d-flex pb-3"><a class="nav-link-style nav-link-light me-3" href="#"><i class="ci-arrow-left"></i></a><span class="fs-md text-light">1 / 5</span><a class="nav-link-style nav-link-light ms-3" href="#"><i class="ci-arrow-right"></i></a></div>
                <div class="d-none d-sm-flex pb-3"><a class="btn btn-icon nav-link-style bg-light text-dark disabled opacity-100 me-2" href="#"><i class="ci-view-grid"></i></a><a class="btn btn-icon nav-link-style nav-link-light" href="shop-list-ls.html"><i class="ci-view-list"></i></a></div>
            </div>
            <!-- Products grid-->
            <div class="row mx-n2">
                @foreach (var product in Model.Products)
                {
                    <!-- Product-->
                    <div class="col-md-4 col-sm-6 px-2 mb-4">
                        <div class="card product-card">
                            <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="افزودن به علاقه مندی ها">
                                <i class="ci-heart"></i>
                            </button>
                            <a class="card-img-top d-block overflow-hidden" href="/Product/Details/@product.ProductId/@product.FarsiSlug">
                                <img src="@Url.Content(product.FirstLargeImageFullPath)" alt="Product">
                            </a>
                            <div class="card-body py-2">
                                <a class="product-meta d-block fs-xs pb-1" href="#">@product.Category.Title</a>
                                <h3 class="product-title fs-sm"><a href="shop-single-v1.html">@product.Name</a></h3>
                                <div class="d-flex justify-content-between">
                                    <div class="product-price">
                                        <span class="text-accent">$154.<small>00</small></span>
                                    </div>
                                    <div class="star-rating">
                                        <i class="star-rating-icon ci-star-filled active"></i>
                                        <i class="star-rating-icon ci-star-filled active"></i>
                                        <i class="star-rating-icon ci-star-filled active"></i>
                                        <i class="star-rating-icon ci-star-half active"></i>
                                        <i class="star-rating-icon ci-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body card-body-hidden">
                                <div class="text-center pb-2">
                                    <div class="form-check form-option form-check-inline mb-2">
                                        <input class="form-check-input" type="radio" name="size1" id="s-80" checked>
                                        <label class="form-option-label" for="s-80">8</label>
                                    </div>
                                    <div class="form-check form-option form-check-inline mb-2">
                                        <input class="form-check-input" type="radio" name="size1" id="s-85">
                                        <label class="form-option-label" for="s-85">8.5</label>
                                    </div>
                                    <div class="form-check form-option form-check-inline mb-2">
                                        <input class="form-check-input" type="radio" name="size1" id="s-90">
                                        <label class="form-option-label" for="s-90">9</label>
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-sm d-block w-100 mb-2" type="button" onClick="vm.addToCart(@product.ProductId)">
                                    افزودن به سبد <i class="ci-cart fs-sm ms-2"></i>
                                </button>
                                <div class="text-center"><a class="nav-link-style fs-ms" href="#quick-view" data-bs-toggle="modal"><i class="ci-eye align-middle me-1"></i>Quick view</a></div>
                            </div>
                        </div>
                        <hr class="d-sm-none">
                    </div>
                }
            </div>
            <!-- Banner-->
            <div class="py-sm-2">
                <div class="d-sm-flex justify-content-between align-items-center bg-secondary overflow-hidden mb-4 rounded-3">
                    <div class="py-4 my-2 my-md-0 py-md-5 px-4 ms-md-3 text-center text-sm-start">
                        <h4 class="fs-lg fw-light mb-2">Converse All Star</h4>
                        <h3 class="mb-4">Make Your Day Comfortable</h3><a class="btn btn-primary btn-shadow btn-sm" href="#">Shop Now</a>
                    </div><img class="d-block ms-auto" src="~/resources/img/temp-product-list-images/banner.jpg" alt="Shop Converse">
                </div>
            </div>
            <!-- Products grid-->
            <div class="row mx-n2">
                @foreach (var product in Model.Products)
                {
                    <!-- Product-->
                    <div class="col-md-4 col-sm-6 px-2 mb-4">
                        <div class="card product-card">
                            <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="افزودن به علاقه مندی ها">
                                <i class="ci-heart"></i>
                            </button>
                            <a class="card-img-top d-block overflow-hidden" href="/Product/Details/@product.ProductId/@product.FarsiSlug">
                                <img src="@Url.Content(product.FirstLargeImageFullPath)" alt="Product">
                            </a>
                            <div class="card-body py-2">
                                <a class="product-meta d-block fs-xs pb-1" href="#">@product.Category.Title</a>
                                <h3 class="product-title fs-sm"><a href="shop-single-v1.html">@product.Name</a></h3>
                                <div class="d-flex justify-content-between">
                                    <div class="product-price">
                                        <span class="text-accent">$154.<small>00</small></span>
                                    </div>
                                    <div class="star-rating">
                                        <i class="star-rating-icon ci-star-filled active"></i>
                                        <i class="star-rating-icon ci-star-filled active"></i>
                                        <i class="star-rating-icon ci-star-filled active"></i>
                                        <i class="star-rating-icon ci-star-half active"></i>
                                        <i class="star-rating-icon ci-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body card-body-hidden">
                                <div class="text-center pb-2">
                                    <div class="form-check form-option form-check-inline mb-2">
                                        <input class="form-check-input" type="radio" name="size1" id="s-80" checked>
                                        <label class="form-option-label" for="s-80">8</label>
                                    </div>
                                    <div class="form-check form-option form-check-inline mb-2">
                                        <input class="form-check-input" type="radio" name="size1" id="s-85">
                                        <label class="form-option-label" for="s-85">8.5</label>
                                    </div>
                                    <div class="form-check form-option form-check-inline mb-2">
                                        <input class="form-check-input" type="radio" name="size1" id="s-90">
                                        <label class="form-option-label" for="s-90">9</label>
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-sm d-block w-100 mb-2" type="button" onClick="vm.addToCart(@product.ProductId)">
                                    افزودن به سبد <i class="ci-cart fs-sm ms-2"></i>
                                </button>
                                <div class="text-center"><a class="nav-link-style fs-ms" href="#quick-view" data-bs-toggle="modal"><i class="ci-eye align-middle me-1"></i>Quick view</a></div>
                            </div>
                        </div>
                        <hr class="d-sm-none">
                    </div>
                }
            </div>
            <hr class="my-3">
            <!-- Pagination-->
            <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#"><i class="ci-arrow-left me-2"></i>Prev</a></li>
                </ul>
                <ul class="pagination">
                    <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
                    <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">1<span class="visually-hidden">(current)</span></span></li>
                    <li class="page-item d-none d-sm-block"><a class="page-link" href="#">2</a></li>
                    <li class="page-item d-none d-sm-block"><a class="page-link" href="#">3</a></li>
                    <li class="page-item d-none d-sm-block"><a class="page-link" href="#">4</a></li>
                    <li class="page-item d-none d-sm-block"><a class="page-link" href="#">5</a></li>
                </ul>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#" aria-label="Next">Next<i class="ci-arrow-right ms-2"></i></a></li>
                </ul>
            </nav>
        </section>
    </div>
</div>
