@inject IOptions<SiteInfoDto> _siteInfoOptions
@inject ICartService _cartService
@inject IUnitOfWork _unitOfWork
@{
    var controllerName = Context.Request.RouteValues["controller"].ToString();
    var activeClassName = "";
    var signedUserProfile = Context.Session.GetObjectFromJson<Profile>("SignedUserProfile") ?? new Profile();
}

<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="utf-8">
    <title>@_siteInfoOptions.Value.Title</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="@_siteInfoOptions.Value.Description">
    <meta name="keywords" content="@_siteInfoOptions.Value.Keywords">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="~/css/simplebar.css" />
    <link rel="stylesheet" media="screen" href="~/css/tiny-slider.css" />
    <link rel="stylesheet" media="screen" href="~/css/drift-basic.css" />
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="~/css/theme.css">
    @RenderSection("Styles", required: false)
</head>
<!-- Body-->

<body class="handheld-toolbar-enabled">
    <main class="page-wrapper">
        <!-- Navbar 3 Level (Light)-->
        <partial name="_HeaderPartial" model="@new HeaderViewModel { CartItems = _cartService.GetCartItems(), Categories = _unitOfWork.Categories.Find().AsEnumerable() }" />
        <!-- Page Title-->
        <div class="page-title-overlap bg-dark pt-4">
        </div>
        <div class="container pb-5 mb-2 mb-md-4">
            <div class="row">
                <!-- Sidebar-->
                <aside class="col-lg-4 pt-4 pt-lg-0 pe-xl-5">
                    <div class="bg-white rounded-3 shadow-lg pt-1 mb-5 mb-lg-0">
                        <div class="d-md-flex justify-content-between align-items-center text-center text-md-start p-4">
                            <div class="d-md-flex align-items-center">
                                <div class="img-thumbnail rounded-circle position-relative flex-shrink-0 mx-auto mb-2 mx-md-0 mb-md-0" style="width: 6.375rem;">
                                    <span class="badge bg-warning position-absolute end-0 mt-n2" data-bs-toggle="tooltip" title="Reward points">0</span>
                                    <img id="user-avatar" class="rounded-circle" src="@signedUserProfile.AvatarFullPath" alt="user avatar">
                                </div>
                                <div class="ps-md-3">
                                    <h3 id="user-full-name" class="fs-base mb-0">@(signedUserProfile.FullName ?? @signedUserProfile.Username)</h3>
                                    <span class="text-accent fs-sm">@signedUserProfile.Username</span>
                                </div>
                            </div><a class="btn btn-primary d-lg-none mb-2 mt-3 mt-md-0" href="#account-menu" data-bs-toggle="collapse" aria-expanded="false"><i class="ci-menu me-2"></i>Account menu</a>
                        </div>
                        <div class="d-lg-block collapse" id="account-menu">
                            <div class="bg-secondary px-4 py-3">
                                <h3 class="fs-sm mb-0 text-muted">داشبورد</h3>
                            </div>
                            <ul class="list-unstyled mb-0">
                                @{ if (controllerName == "Order") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                <li class="border-bottom mb-0 @activeClassName">
                                    <a class="nav-link-style d-flex align-items-center px-4 py-3 fs-sm" asp-area="User" asp-controller="Order" asp-action="Index">
                                        <i class="ci-bag opacity-75 fs-base me-2"></i>سفارشات
                                    </a>
                                </li>

                                @{ if (controllerName == "Wish") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                <li class="border-bottom mb-0 @activeClassName">
                                    <a class="nav-link-style d-flex align-items-center px-4 py-3 fs-sm" asp-area="User" asp-controller="Wish" asp-action="Index">
                                        <i class="ci-heart opacity-75 fs-base me-2"></i>علاقه مندی ها
                                    </a>
                                </li>

                                @{ if (controllerName == "Tickets") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                <li class="border-bottom mb-0 @activeClassName">
                                    <a class="nav-link-style d-flex align-items-center px-4 py-3 fs-sm" asp-area="User" asp-controller="Ticket" asp-action="Index">
                                        <i class="ci-help opacity-75 fs-base me-2"></i>پشتیبانی
                                    </a>
                                </li>
                            </ul>
                            <div class="bg-secondary px-4 py-3">
                                <h3 class="fs-sm mb-0 text-muted">اطلاعات حساب</h3>
                            </div>
                            <ul class="list-unstyled mb-0">
                                @{ if (controllerName == "Address") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                <li class="border-bottom mb-0 @activeClassName">
                                    <a class="nav-link-style d-flex align-items-center px-4 py-3 fs-sm" asp-area="User" asp-controller="Address" asp-action="Index">
                                        <i class="ci-location opacity-75 fs-base me-2"></i>آدرس ها
                                    </a>
                                </li>

                                @{ if (controllerName == "Profile") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                <li class="border-bottom mb-0 @activeClassName">
                                    <a class="nav-link-style d-flex align-items-center px-4 py-3 fs-sm" asp-area="User" asp-controller="Profile" asp-action="Index">
                                        <i class="ci-user opacity-75 fs-base me-2"></i>اطلاعات پروفایل
                                    </a>
                                </li>

                                @{ if (controllerName == "Card") { activeClassName = "active"; } else { activeClassName = ""; }; }
                                <li class="mb-0 @activeClassName">
                                    <a class="nav-link-style d-flex align-items-center px-4 py-3 fs-sm" asp-area="User" asp-controller="Card" asp-action="Index">
                                        <i class="ci-card opacity-75 fs-base me-2"></i>اطلاعات بانکی
                                    </a>
                                </li>
                                
                                <li class="border-top mb-0">
                                    <a class="nav-link-style d-flex align-items-center px-4 py-3 fs-sm text-danger" asp-area="Identity" asp-controller="Account" asp-action="Logout">
                                        <i class="ci-arrow-right opacity-75 fs-base me-2"></i>خروج از حساب کاربری
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>
                <!-- Content  -->
                <section class="col-lg-8">
                    @RenderBody()
                </section>
            </div>
        </div>
    </main>
    <!-- Footer-->
    <partial name="_FooterPartial"/>

    <!-- Toolbar for handheld devices (Default)-->
    <div class="handheld-toolbar">
        <div class="d-table table-layout-fixed w-100"><a class="d-table-cell handheld-toolbar-item" href="account-wishlist.html"><span class="handheld-toolbar-icon"><i class="ci-heart"></i></span><span class="handheld-toolbar-label">Wishlist</span></a><a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)"><span class="handheld-toolbar-icon"><i class="ci-menu"></i></span><span class="handheld-toolbar-label">Menu</span></a><a class="d-table-cell handheld-toolbar-item" href="shop-cart.html"><span class="handheld-toolbar-icon"><i class="ci-cart"></i><span class="badge bg-primary rounded-pill ms-1">4</span></span><span class="handheld-toolbar-label">$265.00</span></a></div>
    </div>
    <!-- Back To Top Button-->
    <a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">بالا</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>


    <div class="modal fade" id="form-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <!-- Vendor scrits: js libraries and plugins-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/simplebar.js"></script>
    <script src="~/js/tiny-slider.js"></script>
    <script src="~/js/smooth-scroll.js"></script>
    <!-- Main theme script-->
    <script src="~/js/theme.js"></script>
    <script src="~/js/site-scripts/delete.js"></script>
    <script src="~/js/site-scripts/create-update.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>
    <script src="~/js/vue.js"></script>
    <script>
        Vue.filter('format_number', function (value) {
            return parseInt(value).toLocaleString()
        })
    </script>
    <script src="~/js/site-scripts/cart-vue/sidebar-cart.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>